// Import Google Web Fonts
//@import url(//fonts.googleapis.com/css?family=Montserrat:400|Raleway:300,400,600|Inconsolata);
//@import url(//fonts.googleapis.com/css?family=Roboto:400,100);

@font-face {
    font-family: 'seraveklight';
    src: url('seravek-light-webfont.woff2') format('woff2'),
         url('seravek-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
